@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
  font-family: "Montserrat", sans-serif;
  background-color: #0A0910;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  line-height: 1.5;
  color: #F8F9FA;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 100px;
  font-size: 2.5rem;
}

h2 {
  font-size: 14pt;
}

h3 {
  border-bottom: 1px solid #F8F9FA;
  padding-bottom: 5px;
}

/* nav styles */
a:visited {
  color: #F8F9FA;
}

a:link {
  color: #F8F9FA;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  display: none;
  margin: 0;
  width: 100%;
  border-bottom: 2px solid #F8F9FA;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #2f2b3a;
  border-bottom: 2px solid #2f2b3a;
  margin-bottom: -2px;
}

.top-bar {
  width: 100%;
  overflow: hidden;
}

.title {
  float: left;
}

.top-right {
  float: right;
  overflow: hidden;
}

/* img inside header */
.logo img {
  height: 75px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Page Wrapper */
.page-wrapper {
  width: 100%;
  overflow: hidden;
}

/* Content component */
.left-block {
  float: left;
  padding-right: 10px;
  width: 60%;
}

.right-block {
  float: right;
  padding-left: 10px;
  width: 40%;
  overflow: hidden;
}

.block-img {
  border-top-right-radius: 1%;
  border-top-left-radius: 1%;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 5px 20px;
  }
  .hamburger {
    display: none;
  }
}
