---

---

<div class="nav_wrapper">
  <div class="logo">
    <a href="/"><img src="/images/logo.png" /></a>
  </div>

  <div class="nav-links">
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </div>
</div>
